---
export const prerender = false;
export  const partial = true;
import {db,Audits as zAudits,eq} from 'astro:db';
const Id = parseInt(Astro.request.headers.get('id'));
const r = await db.select().from(zAudits).where(eq(zAudits.id,Id));
const d = r[0];
if(r.length === 0){
	return new Response("Nothing found",{
		status:400,
	})
}
---
<form id={`text-${d.id}`} method="post" hx-headers={`{"id":"${Id}","nDate":"${d.date}"}`} hx-post='/partials/notes/update' hx-swap='outerHTML' hx-target={`#card-${d.id}`} hx-swap-oob="true">
	<textarea name='text' style="width:100%;" rows='10'>{d.links.replace(/\\n/g,'\n')}</textarea>
	<button class='submit' type='submit'>Update</button>
</form>
