@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--clr-primary:#6D6AF6;
		--clr-secondary:#FF9533;
		--nav-height:60px;
		--nav-bottom:20px;
	}
	*, *::before, *::after {
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	body {
		display:grid;
		min-height:100vh;
		overflow-x:hidden;
		font-family:'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
	.blog #banner{
		@apply w-full aspect-video object-cover rounded-md shadow-md border-2 border-slate-400 shadow-slate-400 mb-4;
	}
	.blog img{
		@apply w-full rounded-md mb-4;
	}
	.blog h1,
	.blog h2,
	.blog h3,
	.blog h4,
	.blog h5,
	.blog h6{
		@apply mb-2;
	}
	.blog h1{
		@apply text-[2.125rem] font-bold max-md:text-[1.5rem];
	}
	.blog h2{
		@apply text-[1.875rem] font-bold max-lg:text-[1.5rem] max-md:text-[1.125rem];
	}
	.blog h3{
		@apply text-[1.5rem] font-bold max-lg:text-[1.25rem] max-md:text-[1.125rem];
	}
	.blog h4{
		@apply font-bold text-[1.25rem];
	}
	.blog h5{
		@apply font-bold text-[1.125rem] max-lg:text-[1rem];
	}
	.blog h6{
		@apply font-bold text-[1rem];
	}
	.blog p{
		@apply text-lg mb-2;
	}
	#formRes,#toast {
		scale:1 0%;
		opacity:0;
		animation: popup 4s forwards ease-in-out;
	}
	@keyframes popup{
	0% {
		scale: 1 0%;
		opacity:0;
	}
	12%{
		scale:1 100%;
		opacity:1;
	}
	87%{
		scale: 1 100%;
		opacity:1;
		height:100%;
		margin-bottom:.5rem;
	}
	100%{
		scale: 1 0%;
		opacity:0;
		display:none;
	}
	}
}
@layer components {
	.userMenuBtn {
		@apply block w-full p-1 py-2 text-center text-slate-500 font-bold bg-slate-100 hover:bg-slate-200 rounded-md;
	}
	.primaryBtn , 
	.lowPrimaryBtn,
	.secondaryBtn,
	.lowSecondaryBtn,
	.dangerBtn{
		@apply transition-all;
	}
	.primaryBtn {
		@apply bg-primary text-white fill-white border-primary;
	}
	.primaryBtn:hover,
	.primaryBtn:focus-visible,
	.primaryBtn.active {
		@apply bg-white text-primary fill-primary border-primary;
	}

	.lowPrimaryBtn {
		@apply bg-white text-primary fill-primary border-primary;
	}
	.lowPrimaryBtn:hover,
	.lowPrimaryBtn:focus-visible,
	.lowPrimaryBtn.active {
		@apply bg-primary text-white fill-white border-primary;
	}

	.secondaryBtn {
		@apply bg-secondary text-white fill-white border-secondary;
	}
	.secondaryBtn:hover,
	.secondaryBtn:focus-visible,
	.secondaryBtn.active{
		@apply bg-white text-secondary border-secondary;
	}

	.lowSecondaryBtn {
		@apply bg-white text-secondary fill-secondary border-secondary;
	}
	.lowSecondaryBtn:hover,
	.lowSecondaryBtn:focus-visible,
	.lowSecondaryBtn.active{
		@apply bg-secondary text-white fill-white border-secondary;
	}
	.dangerBtn{
		@apply bg-red-400 border-red-400 text-white fill-white;
	}
	.dangerBtn:hover,
	.dangerBtn:focus-visible,
	.dangerBtn:active{
		@apply bg-white text-red-400 fill-red-400;
	}
	.tag {
		@apply p-1 px-2 rounded-full text-white capitalize text-sm bg-teal-400 max-sm:text-[.8rem];
	}
}
@layer utilities {
	.bg-primary {
		background-color:var(--clr-primary);
	}
	.bg-secondary {
		background-color:var(--clr-secondary);
	}

	.border-primary {
		border-color:var(--clr-primary);
	}
	.border-secondary {
		border-color:var(--clr-secondary);
	}

	.text-primary {
		color:var(--clr-primary);
	}
	.text-secondary {
		color:var(--clr-secondary);
	}
	.fill-primary {
		fill:var(--clr-primary);
	}
	.fill-secondary {
		fill: var(--clr-secondary);
	}
	.section-nav-pb {
		@apply pb-[calc(var(--nav-height)_+_var(--nav-bottom)+10px)] max-sm:pb-[calc(var(--nav-height)_+_10px)];
	}
	.tag[data-type='blog']{
		@apply bg-lime-400 text-lime-800 font-bold;
	}
	.tag[data-type='snippet']{
		@apply bg-yellow-400 text-yellow-800 font-bold;
	}
	.tag[data-type='article']{
		@apply bg-violet-400 text-violet-900 font-bold;
	}
	.tag[data-subject='english-s1']{
		@apply bg-red-400;
	}
	.tag[data-subject='calculus-s1']{
		@apply bg-orange-400;
	}
	.tag[data-subject='programming-s1']{
		@apply bg-green-500;
	}
	.tag[data-subject='islamiat-s1']{
		@apply bg-purple-400;
	}
	.tag[data-subject='computer-s1']{
		@apply bg-blue-400;
	}
	.tag[data-type='presentation']{
		@apply bg-lime-400 text-lime-800 font-bold;
	}
	.tag[data-type='quiz']{
		@apply bg-yellow-400 text-yellow-800 font-bold;
	}
	.tag[data-type='written']{
		@apply bg-violet-400 text-violet-900 font-bold;
	}
}
