---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import * as schedule from '../content/schedule/schedule.md';
---
<DefaultLayout title={schedule.frontmatter.title}>
	<section class='container mx-auto pt-1 pb-[calc(60px_+_10px)] max-sm:pb-[60px]'>
		{
		schedule.frontmatter.imgSrc.map((i) => <img src={i} class='w-full'/>)
		}
	</section>
</DefaultLayout>
