---
export const prerender = false;
import {db,Audits as zAudits,desc} from 'astro:db';
const audits = await db.select().from(zAudits).orderBy(desc(zAudits.id));
---
<!DOCTYPE html>
<html>
  <head>
    <title>Percentage Tool</title>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
  </head>
  <body>
    <form hx-post="/api/db/create" hx-swap="afterbegin" hx-target="#cards">
      <textarea id='links' name='links' style="width:100%;" rows='20'></textarea>
    <button type='submit'>Post</button>
    </form>
    <div id='cards'>
      {
      audits.map((a) => (

        <div class="card" id={`card-${a.id}`}>
          <button hx-delete={`/api/db/delete/${a.id}`} hx-swap="outerHTML" hx-target={`#card-${a.id}`}>Delete</button>
          <h2>{new Date(a.date).toLocaleString('en-US',{timeZone:'Asia/Karachi'})}</h2>
          <p set:html={a.links.replace(/\\n/g, '<br>')}></p>
        </div>
      ))
      }
    </div>
  </body>
</html>
<style>
*, *::before, *::after {
  box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
  margin: 0;
}
.card{
  display:block;
  border:1px solid black;
  border-radius:15px;
  padding:.5rem;
  margin-bottom:15px;
}
</style>
