---
export const prerender = false;
import {db,Audits as zAudits,desc} from 'astro:db';
const audits = await db.select().from(zAudits).orderBy(desc(zAudits.id));
if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const l = formData.get("links")?.toString().replace(/\r?\n/g, '\\n');
  const d = new Date().getTime();
  await db.insert(zAudits).values({date:d,links:l});
};
---
<!DOCTYPE html>
<html>
  <head>
    <title>Percentage Tool</title>
  </head>
  <body>
    <form method="POST">
      <textarea id='links' name='links' cols='60' rows='50'></textarea>
    <button type='submit'>Post</button>
    </form>
    {
      audits.map((a) => (

          <div class="card">
            <button hx-delete="/api/db/delete">Delete</button>
            <h2>{new Date(a.date).toLocaleString('en-US',{timeZone:'Asia/Karachi'})}</h2>
            <p set:html={a.links.replace(/\\n/g, '<br>')}></p>
          </div>
      ))
    }
  </body>
</html>
<style>
*, *::before, *::after {
  box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
  margin: 0;
}
.card{
  display:block;
  border:1px solid black;
  border-radius:15px;
  padding:.5rem;
  margin-bottom:15px;
}
</style>
