---
export const prerender = false;
export const partial = true;
import {app} from '../../firebase/server';
import {getAuth} from 'firebase-admin/auth';

const auth = getAuth(app);
let user
if(Astro.cookies.has('session')){
	const sessionCookie = Astro.cookies.get('session').value;
	const decodedCookie = await auth.verifySessionCookie(sessionCookie);
	user = await auth.getUser(decodedCookie.uid);
}
---
{user ? 
	(<div class='userMenu max-w-[50px] relative z-30'>
		<button id='menuBtn' class='rounded-full w-full h-full overflow-hidden border-2 border-slate-300 peer/menu menuHidden'><img class='w-full aspect-square object-cover' src={user.photoURL} /></button>
		<div id='userMenu' class=' absolute right-0 top-full bg-white p-2 w-[200px] rounded-md shadow-sm shadow-slate-400 space-y-2 hidden peer-[.showMenu]/menu:block'>
			<a href='/subjects' type='button'
				class='block w-full p-1 py-2 text-center text-slate-500 font-bold bg-slate-100 hover:bg-slate-200 rounded-md'
				>Subjects</a>
			<button type='button'
				hx-post='/api/auth/logout'
				hx-swap='none'
				hx-trigger='click'
				class='block w-full p-1 py-2 text-center text-white bg-red-400 hover:bg-red-600 rounded-md'
				>Logout</button>
		</div>
	</div>)
	: 
	( <a href='/login' class='loginBtn lowPrimaryBtn border-2 text-lg max-sm:text-base py-1 
		px-4 max-sm:px-2 rounded-full font-semibold transition-all' 
		type='button'>Login</a> )}
