---
export const prerender = false;
export const partial = true;
const sessionCookie = Astro.cookies.get('session')
---
{sessionCookie ? 
	(<h2>You?</h2>)
	: 
	( <a href='/login' class='loginBtn lowPrimaryBtn border-2 text-lg max-sm:text-base py-1 
		px-4 max-sm:px-2 rounded-full font-semibold transition-all' 
		type='button'>Login</a> )}
