---
export const partial = true;
export const prerender = false;
---
<span id='toast' class='relative block p-2 border-2 mb-2 border-red-600 bg-red-400 text-white rounded-md pr-8'>
	The request contains missing input.
	<i class="fa-solid fa-circle-exclamation text-white absolute right-2 top-2"></i>
</span>
