---
const pathname = new URL( Astro.request.url).pathname
const activeLink = pathname.split('/')[1];
---
<nav class='fixed w-max bottom-[20px] left-1/2 -translate-x-1/2 border-2 border-slate-300 rounded-full bg-white p-2 flex flex-row justify-center gap-4 max-sm:w-full max-sm:rounded-none max-sm:bottom-0 max-sm:border-l-0 max-sm:border-r-0 max-sm:border-b-0'>
  <a href='/'
    class={`${activeLink === '' ? 'active' : ''} lowSecondaryBtn border rounded-full p-1 px-3 max-sm:p-2 flex flex-row justify-center items-center gap-2 max-sm:text-xl`}
  > 
    <svg class='max-sm:min-h-[35px] max-sm:min-w-[35px]' xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
    <span class='max-sm:hidden'>Home</span></a>
  <a href='/schedule'
    class={`${activeLink === 'schedule' ? 'active' : ''} lowSecondaryBtn border rounded-full p-1 px-3 max-sm:p-2 flex flex-row justify-center items-center gap-2 max-sm:text-xl`}
  > 
    <svg class='max-sm:min-h-[35px] max-sm:min-w-[35px]' xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M96 32V64H48C21.5 64 0 85.5 0 112v48H448V112c0-26.5-21.5-48-48-48H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32V64H160V32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192H0V464c0 26.5 21.5 48 48 48H400c26.5 0 48-21.5 48-48V192z"/></svg>
    <span class='max-sm:hidden'>Schedule</span></a>
  <a href='/assignment'
    class={`${activeLink === 'assignment' ? 'active' : ''} lowSecondaryBtn border rounded-full p-1 px-3 max-sm:p-2 flex flex-row justify-center items-center gap-2 max-sm:text-xl`}
  > 
    <svg class='max-sm:min-h-[35px] max-sm:min-w-[35px]' xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V299.6l-94.7 94.7c-8.2 8.2-14 18.5-16.8 29.7l-15 60.1c-2.3 9.4-1.8 19 1.4 27.8H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM549.8 235.7l14.4 14.4c15.6 15.6 15.6 40.9 0 56.6l-29.4 29.4-71-71 29.4-29.4c15.6-15.6 40.9-15.6 56.6 0zM311.9 417L441.1 287.8l71 71L382.9 487.9c-4.1 4.1-9.2 7-14.9 8.4l-60.1 15c-5.5 1.4-11.2-.2-15.2-4.2s-5.6-9.7-4.2-15.2l15-60.1c1.4-5.6 4.3-10.8 8.4-14.9z"/></svg>
    <span class='max-sm:hidden'>Assignment</span></a>
  <a href='/news'
    class={`${activeLink === 'news' ? 'active' : ''} lowSecondaryBtn border rounded-full p-1 px-3 max-sm:p-2 flex flex-row justify-center items-center gap-2 max-sm:text-xl`}
  > 
    <svg class='max-sm:min-h-[35px] max-sm:min-w-[35px]'  xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M96 96c0-35.3 28.7-64 64-64H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H80c-44.2 0-80-35.8-80-80V128c0-17.7 14.3-32 32-32s32 14.3 32 32V400c0 8.8 7.2 16 16 16s16-7.2 16-16V96zm64 24v80c0 13.3 10.7 24 24 24H296c13.3 0 24-10.7 24-24V120c0-13.3-10.7-24-24-24H184c-13.3 0-24 10.7-24 24zm208-8c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H384c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H384c-8.8 0-16 7.2-16 16zM160 304c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16z"/></svg>
    <span class='max-sm:hidden'>News</span></a>
</nav>
