---
const {title} = Astro.props;
---
<header class='shadow-sm shadow-slate-200 bg-white z-40'>
  <div class='wrapper grid grid-cols-3 justify-between items-center h-[65px] max-w-[1536px]
  mx-auto py-3.5 px-6 max-sm:px-3'>
    <a href='/' class='logo'>
      <img class='max-h-[40px] max-sm:hidden' src='/assests/images/official/logo.png' />
      <img class='max-h-[45px] hidden max-sm:block' src='/assests/images/official/logo2.png' />
    </a>

    <h2 class={`pageTitle font-extralight line-clamp-1 ${title.length > 16 ? 'text-xl' : 'text-4xl'} text-4xl text-slate-700 max-sm:text-xl ${title.length > 16 ? 'max-sm:text-sm' : 'max-sm:text-xl'} max-sm:font-bold ellipsis text-center`}>{title}</h2>

    <div class='notos text-end'>
      <button class='w-[35px] aspect-square rounded-full bg-slate-400 text-white hover:bg-slate-300 hover:text-primary transition-all'>
        <i class="fa-solid fa-message"></i>
      </button>
      <button class='w-[35px] aspect-square rounded-full bg-slate-400 text-white hover:bg-slate-300 hover:text-primary transition-all'>
        <i class="fa-solid fa-bell"></i>
      </button>
    </div>
  </div>
</header>
