---
export const prerender = false;
import {db,eq,Audits as zAudits} from 'astro:db';
import Note from '../../../components/Note.astro';
const id = parseInt(Astro.params.id);
const audits = await db.select().from(zAudits).where(eq(zAudits.id,id));
import '../../../stylesheet/z.css';
---
<!DOCTYPE html>
<html>
  <head>
    <title>Shared Note</title>
    <script defer src='/assests/js/htmx.min.js'></script>
  </head>
  <body>
    <h1 style="text-align:center;margin-bottom:.5rem;">Shared Note</h1>
    <div id='cards'>
      {
      audits.map((a) => (
        <Note id={a.id} date={a.date} data={a.links} />
      ))
      }
    </div>
  </body>
</html>
