---
export const prerender = false;
import {db,Audits as zAudits,desc} from 'astro:db';
import Note from '../../../components/Note.astro';
const audits = await db.select().from(zAudits).orderBy(desc(zAudits.id));
import '../../../stylesheet/z.css';
---
<!DOCTYPE html>
<html>
  <head>
    <title>Note Pad Online</title>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.css" />
    <script src='/assests/js/htmx.min.js'></script>
  </head>
  <body>
    <form hx-post="/partials/notes/create" hx-swap="afterbegin" hx-target="#cards">
      <textarea id='links' class='note-textarea' name='links' style="width:100%;" rows='10'></textarea>
    <button class='submit' type='submit'>Post</button>
    </form>
    <div id='cards'>
      {
      audits.map((a) => (
        <Note id={a.id} date={a.date} data={a.links} />
      ))
      }
    </div>
  </body>
</html>
<script>
import { ClassicEditor,List, Essentials,Paragraph,Bold,Italic } from 'ckeditor5';

function swapEditor(el:HTMLTextAreaElement){
  ClassicEditor
    .create( el , {
      plugins: [List,Essentials,Paragraph,Bold, Italic],
      toolbar:
      ["selectAll","paragraph", "undo", "redo", "bold", "italic","bulletedList","numberedList" ]

    } )
}
const mainEditor = document.querySelector("#links") as HTMLTextAreaElement;
swapEditor(mainEditor);
document.body.addEventListener("htmx:afterSwap", (e:CustomEvent) => {
  if(e.detail.target.id === 'update-btn'){
    const t = e.detail.elt.firstElementChild;
    console.log(t);
    swapEditor(t);
  }
})

</script>
